/* Inter and Mulish font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.space{
    margin-left: 8%;
    margin-right: 8%;
}

:root{
    --button-color: #FF5400;
    --title-color: #131318;
    --background-color: #131318B3;
    --inter-font-family: "Inter", sans-serif;
    --mulish-font-family: "Mulish", sans-serif;
    --white-font-color: #ffffff;
}

/* nav section styles  */
header{
    font-family: var(--mulish-font-family);
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.logo-title{
    font-weight: 800;
}

.trave-text{
    color: var(--button-color);

}

.all-tabs{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

.all-tabs li{
    list-style: none;
}

.all-tabs li a{
    text-decoration: none;
}

.all-tabs li a:active{
    color: var(--button-color);
}

.home{
    color: var(--button-color);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* banner container styles  */

.banner-container{
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
}

.banner-content{
    text-align: center;
}

.banner-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--white-font-color);
    margin-bottom: 1rem;
}

.banner-desc{
    color: var(--white-font-color);
    width: 80%;
    margin: 0rem auto 1rem;
}

select{
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    color: #13131880;
}

.input-section input{
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

.input-section{
    background-color: #FFFFFF4D;
    padding-top: 1rem;
    margin: auto;
    padding-bottom: 1rem;
    border: none;
    border-radius: 8px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.banner-btn{
    background-color: var(--button-color);
    color: var(--white-font-color);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Our Popular Tours container styles  */

main{
    font-family: var(--mulish-font-family);
}

.popular-tours-title{
    font-size: 2rem;
    font-weight: 800;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.popular-tours-desc{
    color: var(--background-color);
    margin-bottom: 1rem;
}

.tours-list{
    padding-left: 1rem;
    color: var(--background-color);
    margin-bottom: 1rem;
}

.tours-btn{
    border: none;
    border-radius: 5px;
    color: var(--white-font-color);
    background-color: var(--button-color);
    padding: 1rem;
}

.popular-tours-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.popular-tours-image img{
    width: 400px;
}

/* Choose Your Destination container styles  */

.destination-content{
    text-align: center;
    margin-bottom: 2rem;
}

.destination-title{
    font-size: 2rem;
    font-weight: 800;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.destination-desc{
    color: var(--background-color);
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

/* choose destination styles  */

.choose-destination{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.maldives{
    position: relative;
    grid-column: 1 / span 2;
}

.maldives h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.maldives img{
    width: 100%;
    height: 260px;
}

.indonesia{
    position: relative;
    grid-column: span 2;
}

.indonesia h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.indonesia img{
    width: 100%;
    height: 260px;
}

.srilanka{
    position: relative;
    grid-column: span 1;
}

.srilanka h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.srilanka img{
    width: 100%;
    height: 260px;
}
.north-america{
    position: relative;
    grid-column: span 2;
}

.north-america h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.north-america img{
    width: 100%;
    height: 260px;
}

.kashmir{
    position: relative;
    grid-column: span 1;
}

.kashmir h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.kashmir img{
    width: 100%;
    height: 260px;
}


.bangladesh{
    position: relative;
    grid-column: span 1;
}

.bangladesh h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.bangladesh img{
    width: 100%;
    height: 260px;
}

.bandarban{
    position: relative;
    grid-column: span 3;
}

.bandarban h3{
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--white-font-color);
}

.bandarban img{
    width: 100%;
    height: 260px;
}

/* Why Choose Us container styles  */

.choose-us-container{
    margin-bottom: 3rem;
}

.choose-us-content{
    text-align: center;
}

.choose-us-title{
    color: var(--title-color);
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.choose-us-desc{
    color: var(--background-color);
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

.our-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.service1{
    background-color: #FBB5630D;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 10px 1px #FBB56333;
}
.service2{
    background-color: #29CEF60D;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 10px 1px #29CEF633;
}

.service3{
    grid-column: span 2;
    width: 50%;
    margin: auto;
    background-color: #E944440D;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 10px 1px #E9444433;
}

/* Deals & Discounts container styles  */
.deals-container{
    margin-bottom: 3rem;
}

.deals-content{
    text-align: center;
}

.deals-title{
    font-size: 2rem;
    font-weight: 800;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.deals-desc{
    color: var(--background-color);
    width: 80%;
    margin: auto;
}

.discount1{
    background-image: url('/Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: contain 500px;
    min-width: 500px;
    padding: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;
    border-radius: 16px;
    margin-bottom: 2rem;
}
.discount2{
    background-image: url('/Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: contain 500px;
    min-width: 500px;
    padding: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    border-radius: 16px;
    margin-bottom: 2rem;
}
.discount3{
    background-image: url('/Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: contain 500px;
    min-width: 500px;
    padding: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;
    border-radius: 16px;
    margin-bottom: 2rem;
}

.discount1-info{
    background-color: #FFFFFFAD;
    padding: 1rem;
    width: 50%;
    min-height: 400px;
    border: none;
    border-radius:10px;
}

.discount-time{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.discount-title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: var(--title-color);
}

.discount-desc{
    color: var(--background-color);
    margin-bottom: 2rem;
}

.discount-amount{
    color: var(--button-color);
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.discount-btn{
    background-color: var(--button-color);
    color: var(--white-font-color);
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.deals-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals-btn{
    background-color: var(--button-color);
    color: var(--white-font-color);
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
}

/* perfect place container styles  */

.place-title{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.place-desc{
    color: var(--background-color);
    margin-bottom: 0.5rem;
}

.perfect-place-content ul{
    margin-left: 2rem;
}

.perfect-place-content ul li{
    margin-bottom: 0.5rem;
}

.perfect-btn{
    color: var(--white-font-color);
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    padding: 1rem;
    margin-top: 2rem;
}

.perfect-place-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.perfect-place-img{
    position: relative;
}

.perfect-place-img h3{
    position: absolute;
    top: 40%;
    left: 40%;
    color: var(--white-font-color);
}


/* newsletter container styles  */

.newsletter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.newsletter-title{
    color: var(--title-color);
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.newsletter-desc{
    color: var(--background-color);
    margin-bottom: 1rem;
}

.newsletter-content{
    border: 1px solid var(--button-color);
    padding: 2rem;
    border-radius: 8px;
}

hr{
    border: 1px solid#1313181A;
    margin-bottom: 1rem;
}

.newsletter-input input{
    width: 92%;
    border: none;
    border-radius: 8px;
    color: #1313184D;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #1313180D;
}

.newsletter-btn{
    color: var(--white-font-color);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.newsletter-image img{
    width: 100%;
}

.newsletter-image{
    position: relative;
}

.save-up{
    text-align: center;
    background-color: var(--button-color);
    width: 35%;
    color: var(--white-font-color);
    padding: 1.5rem;
    border-radius: 6px;
    position: absolute;
    bottom: 20%;
    right: 4%;
    transform: rotate(-30deg);
}

/* footer container styles  */
footer{
    font-family: var(--mulish-font-family);
    background-color: #1313180D;
    text-align: center;
    padding: 4rem;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-desc{
    color: var(--background-color);
    width: 50%;
    margin: 1rem auto;
}

.social-site-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}